@charset "UTF-8";
/* ==========================================================================
    GUIDE
  ===========================================================================
    WebP: Does not work on Safari 15. Only Big Sur+ will work.
    Must include <type="image/webp"> to make fallback working
    <type="image/jpeg"> is correct one, <type="image/jpg"> does not work on Safari.

    Responsive image treatment:

    !Only use WebP for large desktop screen.

    1. max-width: Mobile - Always @2x and JPG. Old iOS does not load WebP.
    2. min-width: Large desktop - Use WebP for large image
    3. <img>:     Fallback - Use high quality or @2x image. Only old browsers (and Safari) will load this.
  ========================================================================== */
/* ==========================================================================
    BOOTSTRAP GRID SYSTEM OVERRIDE
  ===========================================================================
  Default: Breakpoint  |  Content width
    sm:         576px  |  540px
    md:         768px  |  720px
    lg:         992px  |  960px
    xl:        1200px  |  1140px
    xxl:       1400px  |  1320px

  Add-on:
    3xl:       1800px  |  1400px
    4xl:       2500px  |  1600px
  ========================================================================== */
/* BREAKPOINT - !! this variabes does not replace BS default !! */
/* CONTENT WIDTH */
/* CUSTOM GUTTER */
.container, .container-fluid, .container-sm, .container-md, .container-lg, .container-xl, .container-xxl, .row, .row > * {
  --bs-gutter-x: 1rem;
  /* MOBILE */
  /* LARGE SCREEN */
}

@media only screen and (min-width: 992px) {
  .container, .container-fluid, .container-sm, .container-md, .container-lg, .container-xl, .container-xxl, .row, .row > * {
    --bs-gutter-x: 1.5rem;
  }
}

@media only screen and (min-width: 2400px) {
  .container, .container-fluid, .container-sm, .container-md, .container-lg, .container-xl, .container-xxl, .row, .row > * {
    --bs-gutter-x: 2rem;
  }
}

/* CONTAINER SIDE PADDING */
.container, .container-fluid, .container-sm, .container-md, .container-lg, .container-xl, .container-xxl {
  padding-right: calc(var(--bs-gutter-x) * 1);
  padding-left: calc(var(--bs-gutter-x) * 1);
}

/* CUSTOM CONTAINER WIDTH
  ========================================================================== */
@media only screen and (min-width: 768px) {
  .container, .container-fluid, .container-sm, .container-md {
    max-width: calc(720px + (var(--bs-gutter-x) * 2));
  }
}

@media only screen and (min-width: 992px) {
  .container, .container-fluid, .container-sm, .container-md, .container-lg {
    max-width: calc(960px + (var(--bs-gutter-x) * 2));
  }
}

@media only screen and (min-width: 1200px) {
  .container, .container-fluid, .container-sm, .container-md, .container-lg, .container-xl {
    max-width: calc(1140px + (var(--bs-gutter-x) * 2));
  }
}

@media only screen and (min-width: 1400px) {
  .container, .container-fluid, .container-sm, .container-md, .container-lg, .container-xl, .container-xxl {
    max-width: calc(1140px + (var(--bs-gutter-x) * 2));
  }
}

@media only screen and (min-width: 1800px) {
  .container, .container-fluid, .container-sm, .container-md, .container-lg, .container-xl, .container-xxl {
    max-width: calc(1140px + (var(--bs-gutter-x) * 2));
  }
}

@media only screen and (min-width: 2400px) {
  .container, .container-fluid, .container-sm, .container-md, .container-lg, .container-xl, .container-xxl {
    max-width: calc(1140px + (var(--bs-gutter-x) * 2));
  }
}

/* ==========================================================================
    SCAFFOLDING
  ========================================================================== */
html, body {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
}

.clearfix::after {
  content: " ";
  clear: both;
  display: table;
}

/* ==========================================================================
    TYPOGRAPHY
   ========================================================================== */
html, body {
  font-family: 'Open Sans', sans-serif;
}

b, strong {
  font-weight: 700;
}

/* ==========================================================================
    NAVIGATION
   ========================================================================== */
/* Active Link */
[data-template="home"] .navbar .nav-item__home a,
.navbar [data-active-item="active"] a {
  color: var(--bs-navbar-active-color);
}

/* MOBILE BUTTON
  ========================================================================== */
.navbar-toggler,
.btn-close {
  border: 0;
  border-radius: 0;
  opacity: 1;
  outline: 0;
  padding: 5px;
  transition: opacity 200ms ease;
}

.navbar-toggler-icon,
.btn-close {
  background: none;
}

.navbar-toggler-icon,
.btn-close {
  width: 22px;
  height: 22px;
}

.navbar-toggler-icon svg,
.btn-close-icon svg {
  width: 100%;
  height: 100%;
  vertical-align: top;
}

.btn-close-icon {
  background: none;
  display: block;
  padding: 3px;
}

.navbar-toggler:hover,
.btn-close:hover {
  opacity: 1;
}

.navbar-toggler:focus,
.btn-close:focus {
  box-shadow: none;
  opacity: 1;
}

.navbar-toggler:focus-visible,
.btn-close:focus-visible {
  box-shadow: 0 0 0 3px #0d6efd;
  opacity: 1;
}

/* Close button */
.btn-close::after {
  content: "";
  display: block;
  position: relative;
  top: 0;
  left: 0;
  margin: auto;
  width: 18px;
  height: 18px;
  background: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCA2MCA2MCIgeG1sOnNwYWNlPSJwcmVzZXJ2ZSI+PHBhdGggZD0iTTU3LjEgMCAwIDU3LjEgMi45IDYwIDYwIDIuOSA1Ny4xIDB6TTAgMi45IDU3LjEgNjBsMi45LTIuOUwyLjkgMCAwIDIuOXoiIC8+PC9zdmc+") no-repeat center center;
}

/* White Close button */
.btn-close-white {
  filter: none;
}

.btn-close-white::after {
  background: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCA2MCA2MCIgeG1sOnNwYWNlPSJwcmVzZXJ2ZSI+PHBhdGggZD0iTTU3LjEgMCAwIDU3LjEgMi45IDYwIDYwIDIuOSA1Ny4xIDB6TTAgMi45IDU3LjEgNjBsMi45LTIuOUwyLjkgMCAwIDIuOXoiIGZpbGw9IiNGRkYiIC8+PC9zdmc+") no-repeat center center;
}

/* ==========================================================================
    MEDIA
   ========================================================================== */
.video-container {
  position: relative;
  padding-bottom: 56.25%;
  margin-bottom: 60px;
}

.video-container iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

/* ==========================================================================
    FOOTER
   ========================================================================== */
.footer-divider {
  display: none;
  margin: 1rem 0 0.5rem;
  opacity: 0.1;
}

@media only screen and (max-width: 767px) {
  .footer-divider {
    display: block;
  }
}

.globalFooter__nav,
.socialLink {
  margin-left: -0.5rem;
  margin-right: -0.5rem;
}

.socialLink__link {
  width: 40px;
  height: 40px;
}

.socialLink img {
  width: 100%;
  height: auto;
}

.globalFooter__note address {
  font-size: 0.75rem;
  margin-bottom: 1.5rem;
}

.globalFooter__note address h4 {
  font-size: 1.25rem;
}

.globalFooter__backTop a {
  color: #000;
  text-decoration: none;
}

.globalFooter__backTop svg {
  width: 24px;
  height: 24px;
  vertical-align: top;
  top: 4px;
  position: relative;
}

@media only screen and (max-width: 991px) {
  .globalFooter__backTop {
    margin-top: -66px;
  }
}

@media only screen and (max-width: 767px) {
  .globalFooter__backTop {
    margin-top: 0px;
  }
}

.site-copyright {
  font-size: 16px;
}

/* ==========================================================================
    PAGE HEADER
   ========================================================================== */
.page-header {
  position: relative;
  overflow: hidden;
}

.page-banner-text {
  position: relative;
  z-index: 1;
}

.page-banner-background {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 0;
}

.page-banner-background img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.page-banner-inner {
  display: flex;
  justify-content: center;
  align-items: center;
}

@media only screen and (min-width: 768px) {
  .page-banner-inner {
    height: 400px;
  }
  .page-banner-inner .page-banner-text {
    max-width: 700px;
  }
}

@media only screen and (min-width: 1600px) {
  .page-banner-inner {
    height: 600px;
  }
  .page-banner-inner .page-banner-text {
    max-width: 800px;
  }
}

h1 {
  font-size: 3rem;
  font-weight: 700;
  letter-spacing: -1px;
}

h2 {
  font-size: 2.38rem;
  font-weight: 700;
  letter-spacing: -1px;
}

h3 {
  font-size: 2.38rem;
  font-weight: 700;
  letter-spacing: -1px;
}

h4 {
  font-size: 1.5rem;
  font-weight: 700;
  letter-spacing: -0.5px;
}

.lead {
  font-weight: 300;
}

.hr-divider {
  margin: 3rem 0;
}

html {
  font-size: 16px;
}

@media only screen and (min-width: 1024px) {
  html {
    font-size: 18px;
  }
}

@media only screen and (min-width: 1600px) {
  html {
    font-size: 20px;
  }
}

/* ==========================================================================
    BUTTON
   ========================================================================== */
.btn-primary {
  background: #2070b4;
  border-color: #2070b4;
}

.btn-primary:hover {
  background: #439deb;
  border-color: #439deb;
}

/* ==========================================================================
    BLOCKQUOTE
   ========================================================================== */
.blockquote {
  color: #2070b4;
  font-size: 2rem;
  font-weight: 300;
  font-style: italic;
  line-height: 1.5;
  text-align: center;
  width: 100%;
  padding: 0 10%;
}

figure {
  position: relative;
}

figcaption {
  position: absolute;
  background: none repeat scroll 0 0 rgba(0, 0, 0, 0.5);
  color: #FFF;
  font-size: .6875rem;
  font-style: italic;
  bottom: 0;
  padding: 4px 12px;
  width: 100%;
}

/* ==========================================================================
    MOBILE NAV
   ========================================================================== */
@media only screen and (max-width: 1199px) {
  [data-template="home"] .navbar .nav-item__home a,
[data-template="home"] .navbar [data-active-item="active"] a {
    color: #FFF;
  }
  .site-header .offcanvas {
    background: #2070b4;
    box-shadow: none;
    border: 0;
    color: #FFF;
  }
  .site-header .offcanvas a {
    color: #FFF;
    font-size: 20px;
  }
  .site-header .offcanvas-body {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
  }
  .site-header .offcanvas-header .navbar-brand {
    visibility: hidden;
  }
  /* Close button */
  .site-header .btn-close {
    margin: 15px -3px 0 0px;
  }
  .site-header .btn-close::after {
    content: "";
    display: block;
    position: relative;
    top: 0;
    left: 0;
    margin: auto;
    width: 18px;
    height: 18px;
    background: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCA2MCA2MCIgeG1sOnNwYWNlPSJwcmVzZXJ2ZSI+PHBhdGggZD0iTTU3LjEgMCAwIDU3LjEgMi45IDYwIDYwIDIuOSA1Ny4xIDB6TTAgMi45IDU3LjEgNjBsMi45LTIuOUwyLjkgMCAwIDIuOXoiIGZpbGw9IiNGRkYiIC8+PC9zdmc+") no-repeat center center;
  }
  .site-header .offcanvas-backdrop.show {
    opacity: 0.5;
  }
}

/* ==========================================================================
    Capabilities
   ========================================================================== */
.five-stages-list {
  position: relative;
  display: inline-flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  margin: auto;
  padding: 0;
  text-align: center;
}

.five-stages-list li {
  position: relative;
  box-sizing: border-box;
  text-align: center;
  display: inline-block;
  border: 4px solid #a2cdee;
  border-radius: 0;
  background: #3f99cd;
  background: linear-gradient(to bottom, #3f99cd 0, #1864b0 100%);
  font-size: 14px;
}

.five-stages-list li p {
  position: relative;
  color: #fff;
  font-weight: 600;
  text-transform: uppercase;
  line-height: normal;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  letter-spacing: -0.5px;
}

.five-stages-list li:last-child::after {
  display: none;
}

@media only screen and (max-width: 575px) {
  .five-stages-list li {
    min-width: 240px;
    max-width: 120px;
    width: 240px;
    height: 120px;
    margin: 1rem auto;
    padding: 1rem;
    font-size: 16px;
  }
  .five-stages-list li::after {
    content: "↓";
    position: absolute;
    right: 50%;
    margin-right: -12px;
    bottom: -32px;
    font-weight: 600;
    font-size: 18px;
  }
}

@media only screen and (min-width: 576px) {
  .five-stages-list {
    flex-direction: row;
  }
  .five-stages-list li {
    min-width: 100px;
    max-width: 100px;
    width: 100px;
    height: 100px;
    margin: 7px;
    padding: 0.5rem;
    font-size: 12px;
    border-width: 4px;
  }
  .five-stages-list li::after {
    content: "→";
    position: absolute;
    right: -18px;
    top: 34px;
    font-weight: 600;
    font-size: 16px;
  }
}

@media only screen and (min-width: 768px) {
  .five-stages-list li {
    min-width: 120px;
    max-width: 120px;
    width: 120px;
    height: 120px;
    margin: 1rem;
    padding: 1rem;
    font-size: 12px;
    border-width: 4px;
    border-radius: 50%;
  }
  .five-stages-list li::after {
    right: -30px;
    top: 35px;
    font-size: 24px;
  }
}

@media only screen and (min-width: 992px) {
  .five-stages-list li {
    min-width: 140px;
    max-width: 140px;
    width: 140px;
    height: 140px;
    font-size: 14px;
    border-width: 4px;
  }
  .five-stages-list li::after {
    top: 48px;
  }
}

@media only screen and (min-width: 1024px) {
  .five-stages-list li {
    min-width: 160px;
    max-width: 160px;
    width: 160px;
    height: 160px;
    font-size: 16px;
    border-width: 8px;
  }
  .five-stages-list li::after {
    top: 50px;
    right: -36px;
  }
}

@media only screen and (min-width: 1200px) {
  .five-stages-list li {
    min-width: 190px;
    max-width: 190px;
    width: 190px;
    height: 190px;
    font-size: 18px;
  }
  .five-stages-list li::after {
    right: -40px;
    top: 62px;
    font-size: 32px;
  }
}

.applications .card {
  display: inline-block;
  margin-bottom: 20px;
  padding: 1rem 1rem;
  border-radius: 24px;
  border-width: 0;
  background: #3faccf;
  color: #FFF;
  text-shadow: 0 0 1px #369, 0 1px 1px #187593;
  font-weight: 600;
}

.applications dt {
  display: inline-block;
  font-size: 1.5rem;
  letter-spacing: -1px;
  text-transform: uppercase;
  margin-bottom: 1rem;
}

.applications dd {
  position: relative;
  padding-left: 24px;
}

.applications dd::before {
  content: "✓";
  position: absolute;
  left: 0;
  color: #fc0;
  font-weight: 800;
}

@media only screen and (min-width: 992px) {
  .applications dt {
    height: 70px;
  }
}

@media only screen and (min-width: 1400px) {
  .applications dt {
    height: 90px;
  }
}

/* ==========================================================================
    HOME CAROUSEL
   ========================================================================== */
.home-carousel {
  height: 400px;
}

.home-carousel .carousel-inner,
.home-carousel .carousel-item,
.home-carousel .container {
  height: 100%;
}

.home-carousel .container {
  position: relative;
}

.home-carousel .carousel-caption {
  position: relative;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  padding-top: 3rem;
  padding-bottom: 1.25rem;
  text-align: left;
  height: 100%;
  display: inline-flex;
  flex-direction: column;
  justify-content: center;
  z-index: 1;
}

.carousel-item {
  position: relative;
}

.carousel-item figure {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 0;
  margin: 0;
}

.carousel-item img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.carousel-caption,
.page-banner-inner {
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

@media only screen and (min-width: 768px) {
  .home-carousel {
    height: 400px;
  }
  .home-carousel .lead {
    max-width: 720px;
  }
  .carousel-caption,
.page-banner-inner {
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.9);
  }
}

@media only screen and (min-width: 1200px) {
  .home-carousel {
    height: 600px;
  }
}

@media only screen and (min-width: 1600px) {
  .home-carousel {
    height: 700px;
  }
}